.about {
    padding-bottom: 76px;
}
.about-viw {
    background-image: url(/img/top-map.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;

    @media screen and (max-width: 1024px) {
        margin-top: 55px;
    }

}

.about-lead-ms {
    font-size: 2.25rem;
    line-height: 1.8;
    text-align: center; 

    @media screen and (max-width: 1024px) {
        font-size: 1.125rem;
        line-height: 2.5;
        
    }
}

.about-lead-ms2 {
    margin-top: 52px;
    @media screen and (max-width: 1024px) {
        margin-top: 39px;
        line-height: 2.5;
    }

}
