.benefits {
    position: relative;
    margin-top: 6.3125rem;
}
.section-title-benefits {
    position: absolute;
    top: -14px;
    left: 30.5rem;
}
.content-title-benefits {
    text-align: center;
}