.benefits {
    margin-top:150px;
}
.benefits-text-wrapper {
    text-align: center;
}
.content-title-benefits {
    text-align: center;
    position: relative;
}
.content-title-benefits::after {
    content: "";
    position: absolute;
    left: 14.5rem;
    top: 0;
    z-index: -1;
    max-width: 564px;
    width: 100%;
    height: 100%;
    background-image: url(/img/benefit-title.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.benefits-main-box {
    display: flex;
    gap: 9%;
    text-align: center;
    @media screen and (max-width: 1024px) {
        display: block;
        width: 100%;
        margin-left: 40px;
        max-width: 430px;
        margin: 0 auto;
    }
}

.benefits-img-wrapper {
    margin-top: 114px;
    max-width: 430px;
    position: relative;
}

.benefits-img-box {
    background-color:#FAF7F1;
    border-radius: 50%;
    max-width: 430px;
    max-height: 430px;
    width: calc(30vw); height: calc(30vw);
    position: relative;
    background-position: center;
}
.benefits-img-box-pic2 {
    margin-top: 5em;
}
.benefits-img-box-pic {
    margin-top: 4em;
}
.benefits-img-message {
    font-size: 1.5rem;
    transform: rotate( 90deg );
    position: absolute;
    top: 121px;
    right: -88px;

    &::after {
        content: "";
        position: absolute;
        background-image: url(/img/page-black.png);
        top: 0;
        z-index: 1;
    }
}

.benefits-img-title {
    font-size: 2rem;
    line-height: 1.2;
    background-color: #AFA86F;
    display: inline-block;
    position: absolute;
    bottom: 7rem;
    left: 4rem;
    z-index: 1;
    text-align: center;
    display: block;
    &-title2 {
        margin-left: 6rem;
    }
}

.benefits-img-item {
    margin-top: 41px;
    text-align: start;
}
.benefits-button {
    position: absolute;
    bottom: 11rem;
    right: 0.9375rem;
}
