.top-blog {
    background-color: #FAF7F1;
    padding-top: 70px;
    padding-bottom: 80px;
    @media screen and (max-width: 768px) {
        padding-top: 65px;
        padding-bottom: 75px;
    }
}
.blog-sec {
    max-width: 1024;
    padding-inline: 33px;
    @media screen and (max-width: 768px) {
        padding-inline: 17px;
    }
}
.blog-box {
    background-color: #fff;
    border-radius: 0 10px 10px 0;
}
.blog-content-title {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: -20px;
        top: 0;
        max-width: 564px;
        width: 100%;
        height: 100%;
        background-image: url(./img/blog-title.png);
        background-repeat: no-repeat;
        background-size: contain;
        @media screen and (max-width: 1024px) {
            left: 0;
        }
    }    
}
.blog-content-item {
    margin-top: 53px;
    @media screen and (max-width: 768px) {
        margin-top: 30px;
    }
}
.blog-wrapper {
    margin-top: 60px;
    @media screen and (max-width: 768px) {
        margin-top: 42px;
    }
}
.blog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-gap:  22px 48px;
    
    @media screen and (max-width: 1024px) {
        display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-gap:  10px 20px;
    }
}

.blog-box-main {
    display: flex;
}

.thumbnail {
    max-width: 156px;
    min-height: 180px;
    @media screen and (max-width: 1024px) {
        max-width: 121px;
        min-height: 121px;
    }
}
.blog-box-main img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px
}
.blog-box-right {
    margin-inline: 5%;
    margin-top: 19px;
    max-width: 251px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
    @media screen and (max-width: 1024px) {
        max-width: 560px;
        width: 100%;
        margin-top: 9px;
        margin-bottom: 5px;
        margin-inline: 18px;
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 0px;
    }   
}

.blog-category {
    position: relative;
    font-size: 0.875rem;
    padding-left: 18px;
    line-height: 1;
    @media screen and (max-width: 768px) {
        font-size: 0.75rem;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 15px;            
        height:15px;        
        background: url("img/blog-mark.png") no-repeat center/contain;
        transform: translateY(-50%);
    }
}
.topics {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.5;
    padding-top: 26px;
    text-decoration: underline solid 1px #222;
    @media screen and (max-width: 768px) {
        font-size: 0.875rem;
        margin-top: -17px;
    }
}
.topics3 {
    margin-top: -3px;
        @media screen and (max-width: 768px) {
            margin-top: 0;
        }
    
}
.date {
    font-size: 0.75rem;
    line-height: 1;
    margin-top: auto; 

}
.blog-top {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        display: block;
    }

}
.blog-top-link {
    margin-left: 13px;
    transition: .4s;   
    font-weight: 700;
    border-bottom: solid #222 ;
    transition: .4s;
    &:hover {
        opacity: .7;
    }
}
.blog-top-page {
    margin-right: 16px;
    margin-top: 19px;
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.blog-top-page-2 {
    display: none;
    @media screen and (max-width: 768px) {
        display: inline-block;
        margin-top: 52px;
    }

}



