.ditails-mv {
    height: 340px;
    margin-top: 118px;
    background-image: url(/img/details-fv.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.details-main {
    padding-top: 145px;
    @media screen and (max-width: 1024px) {
        padding-top: 70px;
    }
}
.details-main-title {
    font-size: 2rem;
    @media screen and (max-width: 1024px) {
        line-height: 1.5;
        text-align: center;
    }

    br {
        display: none;
        @media screen and (max-width: 1024px) {
            display: inline;
        }
    }

}
.details-lead {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 106px;
    br {
        display: none;
        @media screen and (max-width: 768px) {
            display: inline;
        }
    }

    @media screen and (max-width: 768px) {
        margin-top: 50px;
        text-align: center;
    }
}
.details-btn-box {
    display: flex;
    gap: 49px;
    margin-top: 63px;

    @media screen and (max-width: 768px) {
        padding-top: 45px;
    }

    @media screen and (max-width: 1024px) {
        display: block;
        max-width: 294px;
        width: 100%;
        margin: 0 auto;
    }
}
.details-btn {
    display: inline-block;
    border: 1px #222 solid;
    border-radius: 50px;
    font-size: 1.25rem;
    line-height: 1;
    width: 294px;
    padding-top: 18px;
    padding-bottom: 18px;
    transition: .4s;
    text-align: center;
    padding-left: 28px;

    &::after {
        content: "↓";
        transition: .4s;
        padding-left: 10px;
    }

    &:hover{
        background-color: #222;
        color: #fff;

    }
    @media screen and (max-width: 1024px) {
        margin-top: 30px;
        align-items: center;
    }

}
.details-list-box {
    padding-bottom: 139px;
}
.details-title {
    font-size: 2rem;
    line-height: 1;
    margin-top: 88px;
    @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
    }
    &-consul {
        margin-top: 97px;
    }
}
.details-list-sec {
    margin-top: 86px;
}
.details-list-title {
    width: 19%;
    padding-top: 1px;
    @media screen and (max-width: 768px) {
        width: 25%;
    }

}
.details-list-item {
    br {
        display: none;
    }
    @media screen and (max-width: 1024px) {
        br {
            display: inline;
        }
    }
}
.sub-engineer {
    margin-bottom: 139px;
    @media screen and (max-width: 1024px) {
        margin-bottom: 50px};
}

.to {
    margin-top: 5px;
}
.sub-page-blog-list {
    display: flex;
    gap: 40px;
    border-bottom: #222222 dashed 1px;
    padding-top: 35px;
    padding-bottom: 35px;
}