.details-main {
    padding-top: 145px;

    @media screen and (max-width: 1024px) {
        padding-top: 70px;
    }
}

#sub-details,
#sub-solution,
#sub-engineer {
    scroll-margin-top: 118px;
}

section.show {
    opacity: 1;
}

.details-main-title {
    font-size: 2rem;
    font-weight: 700;

    @media screen and (max-width: 1024px) {
        line-height: 1.5;
        text-align: center;
    }

    br {
        display: none;

        @media screen and (max-width: 1024px) {
            display: inline;
        }
    }

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
    }
}

.details-lead {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 106px;

    br {
        display: none;

        @media screen and (max-width: 768px) {
            display: inline;
        }
    }
    @media screen and (max-width: 1024px) {
        margin-top: 30px;
        text-align: center;
    }
}

.details-btn-box {
    display: flex;
    gap: 49px;
    margin-top: 63px;

    @media screen and (max-width: 1024px) {
        display: block;
        max-width: 294px;
        width: 100%;
        margin: 30px auto 0;
    }
    @media screen and (max-width: 768px) {
        padding-top: 0;
    }
}

.details-btn {
    position: relative;
    display: inline-block;
    border: 1px #222 solid;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    width: 294px;
    padding: 18px 28px;
    transition: .4s;
    text-align: center;
    background-color: #FAF7F1;
    color: #222;
    cursor: pointer;

    &:hover {
        background-color: #222;
        color: #fff;
    }
    @media screen and (max-width: 1024px) {
        margin-top: 30px;
        width: 100%;
    }
}

.details-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url(./img/arrow-details-button.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: filter .4s;
}

.details-btn:hover::after {
    filter: brightness(0) invert(1);
}

.details-list-box {
    padding-bottom: 139px;
}

.details-title {
    font-size: 2rem;
    line-height: 1;
    margin-top: 88px;
    font-weight: 700;
    @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
    }
    &-consul {
        margin-top: 97px;
    }
}

.details-list-sec {
    margin-top: 83px;
    @media screen and (max-width: 1024px) {
        margin-top: 30px;
    }
}

.details-list-title {
    width: 19%;
    padding-top: 1px;
    font-weight: 400;
    @media screen and (max-width: 768px) {
        width: 25%;
    }
}

.details-list-title {
    &:nth-child(1) {
        padding-bottom: 2px;
    }
}

.details-list-item {
    font-weight: 400;
    br {
        display: none;
    }
    @media screen and (max-width: 1024px) {
        br {
            display: inline;
        }
    }
}

.sub-engineer {
    margin-bottom: 139px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 50px
    }
}

.sub-page-blog-list {
    display: flex;
    gap: 40px;
    border-bottom: #222222 dashed 1px;
    padding-top: 35px;
    padding-bottom: 35px;

    @media screen and (max-width: 768px) {
        gap: 20px;
    }
}