.input-text, .input-email, .input-file, .input-submit {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #AFA86F;
    }

.input-text:focus,
.input-email:focus {
outline: 2px solid #3498db;
outline-offset: 0;
}
.Form-Item {
    display: flex;
    color: #222;
}

.form-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    margin-top: 29px;

    & span {
        color: #98802C;
    }
}
.Form-Item-Label {
    width: 128px;
    text-align: left;
}