.input-text,
.input-email,
.input-file,
.input-submit {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #AFA86F;
}

.input-text:focus,
.input-email:focus {
    outline: 2px solid #3498db;
    outline-offset: 0;
}

.input[type="text"] {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FAF7F1;
}

.Form-Item {
    display: flex;
    color: #222;
    justify-content: space-between;
    margin-top: 27px;
    @media screen and (max-width: 768px) {
        display: block;
    }
}

.Form-Item-check {
    display: block;
}
.Form {
    margin-top: 97px;
}

// -----------------------

.entry-main {
    width: 100%;
}

.entry-bg {
    padding-top: 33px;
    padding-bottom: 57px;
    margin-bottom: 136px;
    background-color: #FAF7F1;

    @media screen and (max-width: 768px) {
        padding-top: 24px;
        padding-bottom: 40px;
    }
}

.entry-inner {
    max-width: 880px;
    width: 100%;
    padding-inline: 71px;
    padding-top: 56px;
    padding-bottom: 81px;
    background-color: #fff;

}

.entry-top {
    max-width: 738px;
    width: 100%;
    text-align: center;
    padding-bottom: 95px;
    border-bottom: 1px solid #AFA86F;
}

.form-entry {
    font-size: 24px;
    line-height: 1;
    text-align: center;
}

.form-message-box {
    margin: 0 auto;
    max-width: 510px;
    width: 100%;
}

.form-message {
    text-align: left;
}

.form-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    margin-top: 29px;

    & span {
        color: #98802C;
    }
}

.Form-Item-Label {
    max-width: 128px;
    width: 100%;
    text-align: left;
    line-height: 1.5;
}

.Form-Item-Label-Required {
    color: #98802C;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"], 
.wpcf7 input[type="tel"],
.wpcf7 input[type="text"], 
.wpcf7 input[type="textarea"] {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FAF7F1;
    border:1px solid #AFA86F;
}

.wpcf7 input[type="textarea"] {
    padding-left: 20px;
}

.wpcf7 input[type="select"] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wpcf7-list-item input[type="checkbox"],
.wpcf7-list-item input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.wpcf7-list-item label {
    position: relative;
    display: block;
    padding-left: 32px;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
}

/* チェックボックス */
.wpcf7-list-item-label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #AFA86F;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #FAF7F1;
}

/* チェック時に塗りつぶし */
.wpcf7-list-item input[type="checkbox"]:checked+.wpcf7-list-item-label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.wpcf7-list-item input[type="checkbox"]:checked+.wpcf7-list-item-label::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #222;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

/* ラジオボタン（○→⚫️） */
.radio-works .wpcf7-list-item-label::before {
    border-radius: 50%;
}

/* ラジオボタン */
.radio-works input[type="radio"]:checked+.wpcf7-list-item-label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

/* ラジオが選択された時の黒丸 */
.radio-works input[type="radio"]:checked+.wpcf7-list-item-label::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
}

/* フォーカス時 */
.wpcf7-list-item input:focus+.wpcf7-list-item-label::before {
    outline: 2px solid #3498db;
}

/*送信ボタン*/
.wpcf7-submit {
    display: block;
    width: 256px;
    margin: 40px auto 0;
    padding: 16px;
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
    cursor: pointer;
}

.wpcf7-submit:hover {
    background-color: #222;
    color: #fff;
}

.Form-Item-birthday {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-top: 27px;
}

.Form-Item-birthday input[type="text"],
.Form-Item-birthday select {
    width: 168px;
    max-width: 100%;
    margin-top: 0;
}
.Form-Item-check {
    text-align: center;
}

.wpcf7-text,
.wpcf7-textarea {
    background-color: #FAF7F1;
    border: 1px solid #AFA86F;
    border-radius: 10px;
    max-width: 575px;
    width: 100%;
}

.wpcf7-radio {
	display: block;
}

.wpcf7-select {
	width: 168px;
    padding-top: 22px;
    padding-bottom: 22px;
    background-color: #FAF7F1;
    border: 1px solid #AFA86F;
    display: flex;
    border-radius: 10px;
}

.year {
    max-width: 168px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0px;
}
.birth {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 60%;
}

.wpcf7-form-control-wrap {
    width: 78%;
}

.checkbox-item span {
    width: 100%;
}