.input-text,
.input-email,
.input-file,
.input-submit {
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #AFA86F;
}

.input-text:focus,
.input-email:focus {
    outline: 2px solid #3498db;
    outline-offset: 0;
}

.input[type="text"] {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FAF7F1;
}

.Form-Item {
    display: flex;
    color: #222;
    justify-content: space-between;
    margin-top: 27px;

    @media screen and (max-width: 768px) {
        display: block;
    }
}

.Form-Item-check {
    display: block;
}

.Form {
    margin-top: 97px;
    @media screen and (max-width: 1024px) {
        margin-top: 40px;
    }
}

// -----------------------

.entry-main {
    width: 100%;
}

.entry-bg {
    padding-top: 33px;
    padding-bottom: 57px;
    margin-bottom: 136px;
    background-color: #FAF7F1;

    @media screen and (max-width: 768px) {
        padding-top: 24px;
        padding-bottom: 40px;
    }
}

.entry-inner {
    max-width: 880px;
    width: 100%;
    padding-inline: 71px;
    padding-top: 56px;
    padding-bottom: 81px;
    background-color: #fff;
    @media screen and (max-width: 1024px) {
        padding-inline: 30px;
    }

}

.entry-top {
    text-align: center;
    padding-bottom: 95px;
    border-bottom: 1px solid #AFA86F;
    @media screen and (max-width: 1024px) {
        padding-bottom: 40px;
    }
    
}

.form-entry {
    font-size: 24px;
    line-height: 1;
    text-align: center;
}

.form-message-box {
    margin: 0 auto;
    max-width: 510px;
    width: 100%;
}

.form-message {
    text-align: left;
    &:nth-child(1) {
    @media screen and (max-width: 1024px) {
        margin-top: 20px;
        }
    }
}

.form-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    margin-top: 29px;

    & span {
        color: #98802C;
    }
    @media screen and (max-width: 1024px) {
        font-size: 24px;
    }
    br {
        display: none;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }
}
.form-name ,.form-email ,.form-tell ,.form-textarea{
    max-width: 575px;
    width: 100%;
}

.Form-Item-Label {
    max-width: 163px;
    width: 100%;
    text-align: left;
    line-height: 1.5;
    padding-top: 20px;   
}
.Form-Item-Label-works ,.Form-Item-Label-checkbox {
    padding-top: 0;
}

.Form-Item-Label-Required {
    color: #98802C;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="text"],
.wpcf7 input[type="textarea"] {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #FAF7F1;
    border: 1px solid #AFA86F;
    border-radius: 10px;
    max-width: 575px;
    width: 100%;
    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }
}

.wpcf7 input[type="textarea"] {
    padding-left: 20px;
}

.wpcf7 input[type="select"] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.wpcf7-list-item input[type="checkbox"],
.wpcf7-list-item input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.wpcf7-list-item label {
    position: relative;
    display: block;
    padding-left: 32px;
    cursor: pointer;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
}

/* チェックボックス */
.wpcf7-list-item-label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #AFA86F;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #FAF7F1;
}

/* チェック時に塗りつぶし */
.wpcf7-list-item input[type="checkbox"]:checked+.wpcf7-list-item-label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.wpcf7-list-item input[type="checkbox"]:checked+.wpcf7-list-item-label::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #222;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

/* ラジオボタン（○→⚫️） */
.radio-works .wpcf7-list-item-label::before {
    border-radius: 50%;
}

/* ラジオボタン */
.radio-works input[type="radio"]:checked+.wpcf7-list-item-label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

/* ラジオが選択された時の黒丸 */
.radio-works input[type="radio"]:checked+.wpcf7-list-item-label::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #222;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
}

.radio-box span {
    display: block;
    width: 100%;
}

.Form-Item-works {
    margin-top: 43px;
    display: flex;
    justify-content: left;
    @media screen and (max-width: 768px) {
        display: block;
    }
}


/* フォーカス時 */
.wpcf7-list-item input:focus+.wpcf7-list-item-label::before {
    outline: 2px solid #3498db;
}

/*送信ボタン*/
.wpcf7-submit {
    display: block;
    width: 256px;
    margin: 40px auto 0;
    padding: 16px;
    font-size: 18px;
    text-align: center;
    background-color: #fff;
    color: #222;
    border: 1px solid #222;
    cursor: pointer;
}

.wpcf7-submit:hover {
    background-color: #222;
    color: #fff;
}

.Form-Item-check {
    text-align: center;
}


.wpcf7-textarea {
    background-color: #FAF7F1;
    border: 1px solid #AFA86F;
    border-radius: 10px;
    max-width: 575px;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }
}

.wpcf7-radio {
    display: block;
    margin-left: 15px;
}

.form-radio span{
    margin: 0;
    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }
}


// ＿＿＿誕生日＿＿＿＿＿＿
.Form-Item-birthday {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-top: 27px;
}

.form-birth {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: left;
}

.birth {
    display: flex;
    gap: 25px;
    @media screen and (max-width: 768px) {
        display: block;
    }
}
.birth-box {
    width: 100%;
}

.year {
    max-width: 194px;
    width: 100%;
}

.form-year {
    width: 100%;
    display: flex;
    align-items: center;
    span {
        padding-right: 10px;
    } 
}

.wpcf7-select {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 20px;
    background-color: #FAF7F1;
    border: 1px solid #AFA86F;
    display: flex;
    border-radius: 10px;
    font-size: 12px;
    width: 164px;
}


.form-tsuki ,.form-nichi {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 27px;
        
    ::after {
        content: "";
        position: absolute;
        top: 27px;
        right: 15px;
        margin: auto;
        width: 11px;
        height: 11px;
        border-right: 1px solid #000;
        border-top: 1px solid #000;
        transform: rotate(134deg);
        transition: all 0.5s;    
        }
}
.from-tsuki span {
    width: 198px;
}
// ____知るきっかけチェックボックス__
.checkbox-item {
    width: 100%;
    max-width: 590px;
    margin-left: 15px;
    @media screen and (max-width: 768px) {
        margin-left: 0px;
    }
}

.checkbox-item span {
    display: block;
    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }
}

.Form-Item-checkbox {
    margin-top: 43px;
}

.Form-Item-check {
    margin-top: 99px;
    @media screen and (max-width: 768px) {
        margin-top: 40px;
    }
}

.Form-Item-Label-checkbox {
    max-width: 128px;
    width: 100%;
}
.wpcf7-list-item {
    @media screen and (max-width: 768px) {
        margin-left: 0px;
    }

}
#js-submit:disabled {
    background: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}