#faq-btn {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}
#faq-details, #faq-career, #faq-benefits { 
    scroll-margin-top: 118px; }
section.show {
    opacity: 1;
}
.faq-btn-box {
    margin-top: 145px;
    padding-top: 0;
    @media screen and (max-width: 1024px) {
        margin-top: 70px;
    }
    @media screen and (max-width: 768px) {
        margin-top: 50px;
    }
}
.faq-main-title {
    margin-top: 96px;
    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}
.faq-main-title2 {
    margin-top: 88px;
    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}
.sub-inner-faq {
    padding-inline: 22px;
    @media screen and (max-width: 1024px) {
        padding-inline: 50px;
    }
    @media screen and (max-width: 768px) {
        padding-inline: 20px;
    }

}
.sub-mv-item-faq {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 3px 9px;
    font-family: "Viga";
    line-height: 1;
    inline-size: fit-content;
    margin-top: 18px;
}
.q-mark {
    color: #988C2C;
    line-height: 1;
    flex-shrink: 0;
    font-size: 24px;
}
.faq-benefits {
    margin-bottom: 139px;
    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}


/*_____Q&A アコーディオン______*/
.accordion-title {
    flex: 1;
    font-size: 1rem;
    word-break: break-word;
    padding-top: 18px;
}

.accordion-content {
    overflow: hidden;
    padding-left: 36px;
    border-bottom: #AFA86F 1px solid transparent;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    padding-bottom: 23px;
    line-height: 1;
}

.accordion-content.active {
    padding-top: 0;
    padding-left: 24px;
}

.accordion {
    .accordion-item:first-child {
        .accordion-header {
            border-top: 1px solid #AFA86F;
            margin-top: 113px;
        }
    }
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 14px;
    border-bottom: 1px solid #AFA86F;
    background: #fff;
    position: relative;
    gap: 22px;
    transition: .9s;

    &:hover {
        opacity: .7;
    }

    @media screen and (max-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.accordion-header-flow {
    padding-bottom: 19px;
}

.accordion-header.active {
    background: #fff;
    border-bottom: none;
    transition: .4s;
    padding-bottom: 0;
    padding-left: 0;
}

.accordion {
    margin-top: 10px;
}

.accordion-container {
    width: 500px;
    margin: 0 auto;
}

.accordion-title {
    background-color: #fff;
    padding: 36px 12px 36px 32px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.accordion-title::before,
.accordion-title::after {
    content: '';
    display: block;
    background-color: #AFA86F;
    position: absolute;
    top: 50%;
    width: 15px;
    height: 2px;
    right: 25px;
}

.accordion-title::after {
    transform: rotate(90deg);
    transition-duration: .3s;
}


.accordion-title.active::before {
    opacity: 0;
}

.accordion-title.active::after {
    transform: rotate(0);
}

.accordion-content {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    padding: 0 18px;
    line-height: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: .3s;
}

.accordion-content.is-open {
    background-color: #fff;
    padding-left: 36px;
    border-bottom: #AFA86F 1px solid;
    transition: max-height 0.9s ease, opacity 0.5s ease;
    padding-bottom: 23px;
    line-height: 1;
}

