#faq-btn {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

#faq-details,
#faq-career,
#faq-benefits {
    scroll-margin-top: 118px;
}

section.show {
    opacity: 1;
}

.faq-btn-box {
    margin-top: 145px;
    padding-top: 0;

    @media screen and (max-width: 1024px) {
        margin-top: 70px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 50px;
    }
}

.faq-btn-box.faq-btn::after {
    right: 35px;
}

.faq-btn1::after {
    right: 26px;
}

.faq-main-title {
    margin-top: 96px;

    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}

.faq-main-title2 {
    margin-top: 88px;

    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}

.sub-inner-faq {
    padding-inline: 22px;

    @media screen and (max-width: 1024px) {
        padding-inline: 50px;
    }

    @media screen and (max-width: 768px) {
        padding-inline: 20px;
    }
}

.sub-mv-item-faq {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 3px 9px;
    font-family: "Viga";
    line-height: 1;
    inline-size: fit-content;
    margin-top: 18px;
}

.faq-benefits {
    margin-bottom: 139px;

    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}

// Q&Aアコーディオン________________________
$bg: #fff;
$text: #AFA86F;


.accordion {
    margin-top: 113px;

    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}

.accordion-item {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid $text;
    padding: 30.3px 12px 30.3px 0;
    background: $bg;
    cursor: pointer;
}

.accordion-item:first-child {
    border-top: 1px solid $text;
}

.accordion-title {
    background-color: $bg;
    position: relative;
    padding-right: 30px;
}

.accordion-title::before,
.accordion-title::after {
    content: '';
    display: block;
    background-color: $text;
    position: absolute;
    top: 50%;
    width: 16px;
    height: 2px;
    right: -11px;
}

.accordion-title::after {
    transform: rotate(90deg);
    transition-duration: .3s;
}

.accordion-title.is-active::before {
    opacity: 0;
}

.accordion-title.is-active::after {
    transform: rotate(0);
}

.accordion-content {
    display: none;
    background-color: $bg;
    padding: 0 36px;
    height: auto;
    overflow: hidden;
}

// .accordion-content.is-open {
//     background-color: $bg;
//     padding: 7px 36px 0;
//     height: auto;
//     opacity: 1;
// }

.accordion-item span {
    position: relative;
    display: inline-block;
    padding-left: 34px;
    line-height: 1.5;

    &::before {
        position: absolute;
        content: "Q";
        font-family: "Viga";
        font-size: 24px;
        color: $text;
        background-color: $bg;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}