.blog-sec {
    background-color: #faf7f1;
    width: 100%;
}
.blog-tag ,.date{
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding-top: 41px;
}
.blog-title {
    margin-top: 45px;
}