.page-staff-mv-sec {
    background-color: #faf7f1;
    border-radius: 0px;
    margin-top: 118px;
    @media screen and (max-width: 1024px) {
        margin-top: 90px;
        padding-top: 50px;
    }
}
.page-staff-mv-inner {
    padding-right: 24px;
    padding-left: 20px;
    @media screen and (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.page-staff-box {
    display: flex;
    gap: 88px;
    max-width: 1024px;
    width: 100%;
    line-height: 1;
        &-left {
            max-width: 606px;
            width: 100%;
            margin-top: 76px;
        }
        &-title {
            font-size: 2.25rem;
            font-weight: 700;
            background-color: #fff;
            inline-size: fit-content;
            padding-inline: 14px;
            line-height: 1.2;
            @media screen and (max-width: 768px) {
                font-size: 1.75rem;
                margin-top: 0;
            }
        }
        &-item {
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 14px;
            background-color: #fff;
            inline-size: fit-content;
            padding-inline: 14px;
            line-height: 1.5;
        }
        &-position {
            font-size: 0.875rem;
            font-weight: 700;
            color: #988c2c;
            margin-top: 24px;
            line-height: 1;
        }
        &-name {
            font-size: 1.5em;
            margin-top: 5px;
            font-weight: 700;
        }
        &-year {
            font-size: 1rem;
            margin-top: 16px;
        }
        &-note {
            line-height: 1.8;
            margin-top: 2px;
            padding-left: 5px;
        }
        @media screen and (max-width: 1024px) {
            display: block;   
        }
}
.page-staff-box-name-sec {
    display: flex;
    gap: 20px;
    padding-left: 5px;
    margin-top: 0;
    @media screen and (max-width: 1024px) {
        display: block;
    }
}
.page-staff-box-img {
    max-width: 286px;
    width: 100%;
    padding-top: 49px;
    padding-bottom: 46px;
    border-radius: 0;
    @media screen and (max-width: 1024px) {
        margin-inline: auto;
    }
}
.page-staff-wrapper {
    max-width: 892px;
    width: 100%;
    margin-inline: 20px;
}
.page-staff {
    &-title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        margin-top: 27px;
        &::before {
            content: "";
            border-left: #222 1px solid;
            width: 200px;
        }
    }
    &-note {
        font-weight: 400;
        line-height: 1.8;
        margin-top: 48px;
        padding-left: 192px;

        @media screen and (max-width: 1024px) {
            margin-top: 30px;
        }

    }
}
.page-staff-pic {
    max-width: 710px;
    margin-top: 23px;
    width: 100%;
    margin-left: 189px;
    img {
        width: 100%;
        margin-top: 10px;
    }
}
.page-staff-title-member {
    text-align: center;
    font-size: 2rem;
    margin-top: 104px;  
}
.page-staff-sec {
    margin-top: 50px;
    display: flex;
    gap: 43px;
    @media screen and (max-width: 1024px) {
        display: block;
    }
}
.staff-box2 {
    margin-top: 0;
}
.page-staff-list {
    position: absolute;
    bottom: -89px;
}
.page-staff-box-list {
    margin-bottom: 227px;
    @media screen and (max-width: 1024px) {
        margin-bottom: 70px;
        
    }
}
.page-staff-main {
    max-width: 1440px;
    width: 100%;
    display: flex;
    gap: 41px;
    margin: 75px auto 0;
    @media screen and (max-width: 1024px) {
        max-width: 1024px;
        margin-top: 50px;
    }
}
aside {
    color: #999;
    font-size: 14px;
    line-height: 3;
    font-weight: 400;
    margin-top: 26px;
    right: 242px;
    top: 513px;

    @media screen and (max-width: 1439px) {
        display: none;
    }
}

.page-staff-title {
    position: relative;
    padding-left: 192px;
    @media screen and (max-width: 1439px) {
        padding-left: 20px;
        margin-left: auto;
    }
}

.page-staff-title::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 63%;
    transform: translateY(-50%);
    width: 214px;
    height: 2px;
    border-bottom:  #222 solid 0.5px;

    @media screen and (max-width: 1439px) {
        display: none;
    }
}
.a-side-list li::before {
    content: "・";
    margin-right: 0.5em;
    color: #999;
}
.a-side-inner {
    position: sticky;
    top: 120px;
    color: #999;
    font-weight: 400;
}

.a-side-list li {
    transition: color 0.3s;
    color: #999;
}
.a-side-list li.active {
    color: #222;
    font-weight: 700;
}
.title-no {
    margin-top: 5px;
}
@media screen and (max-width: 1024px) {
    .page-staff-title {
        padding-left: 1rem;
        margin-left: 169px;
    }
    .page-staff-title::before {
        display: none;
    }
}