.page-staff-mv-sec {
    background-color: #faf7f1;
    border-radius: 0px;
    margin-top: 118px;
    @media screen and (max-width: 1024px) {
        margin-top: 90px;
        padding-top: 50px;
    }
}
.page-staff-mv-inner {
    padding-right: 24px;
    @media screen and (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.page-staff-box {
    display: flex;
    gap: 90px;
    max-width: 1024px;
    width: 100%;
    line-height: 1;
        &-left {
            max-width: 605px;
            width: 100%;
        }
        &__title {
            font-size: 2.25rem;
            margin-top: 77px;
            background-color: #fff;
            inline-size: fit-content;
            padding-inline: 10px;
            @media screen and (max-width: 768px) {
                font-size: 1.75rem;
                margin-top: 0;
            }

        }
        &__item {
            font-size: 1.5rem;
            margin-top: 24px;
            background-color: #fff;
            inline-size: fit-content;
            padding-inline: 10px;
        }
        &__position {
            font-size: 0.875rem;
            color: #988c2c;
            font-weight: 400;
            margin-top: 34px;
        }
        &__name {
            font-size: 1.5em;
            margin-top: 12px;
        }
        &__year {
            font-size: 1rem;
            font-weight: 400;
            margin-top: 20px;
        }
        &__note {
            line-height: 1.8;
            font-weight: 400;
            margin-top: 13px;
        }
        @media screen and (max-width: 1024px) {
            display: block;   
        }
}
.page-staff-box-name-sec {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 1024px) {
        display: block;
    }
}
.page-staff-box-img {
    max-width: 286px;
    width: 100%;
    padding-top: 43px;
    padding-bottom: 43px;
    border-radius: 0;
    @media screen and (max-width: 1024px) {
        margin-inline: auto;
    }
}
.page-staff-wrapper {
    max-width: 696px;
    width: 100%;
    margin-inline: auto;
}
.page-staff {
    &__title {
        font-size: 1.5rem;
        line-height: 1;
        margin-top: 34px;
        &::before {
            content: "";
            border-left: #222 1px solid;
            width: 200px;
        }
    }
    &__note {
        font-weight: 400;
        line-height: 1.5;
        margin-top: 50px;
        @media screen and (max-width: 1024px) {
            margin-top: 30px;
        }

    }
}
.page-staff-pic {
    max-width: 710px;
    margin-top: 23px;
    width: 100%;
    img {
        width: 100%;
    }
}
.page-staff-title-member {
    text-align: center;
    font-size: 2rem;
    margin-top: 84px;  
}
.page-staff-sec {
    margin-top: 50px;
    display: flex;
    gap: 43px;
    @media screen and (max-width: 1024px) {
        display: block;
    }
}
.staff-box2 {
    margin-top: 0;
}
.page-staff-list {
    position: absolute;
    bottom: -98px;
}
.page-staff-box-list {
    margin-bottom: 180px;
}
.page-staff-main {
    max-width: 1024px;
    width: 100%;
    display: flex;
    margin-top: 101px;
    gap: 56px;
    margin-inline: auto;
    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}
a-side {
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
.page-staff__title {
    &:nth-child(1) {
        margin-top: 0;
    }

}