.sub-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 118px;
    background-color: #fff;

    // &.drawer-open {
    //     background-color: #fff;

    //     .header-logo__link img {
    //         content: url('/img/tetote-logo-black.png'); 
    //     }
    // }

    @media screen and (max-width: 768px) {
        height: 90px;
    }
}

.sub-header-logo {
    width: 100%;
    max-width: 250px;
    transition: .3s;
    margin-left: 26px;

    &__link {
        padding: 3.7rem 0 1.75rem 0;

        @media screen and (max-width: 768px) {
            padding: 0;
        }
    }

    &:hover {
        opacity: .7;
    }

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}

.header-link {
    display: flex;
    align-items: center;
}

.header--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    visibility: visible;
    animation: slideDown 0.3s ease-in-out;
    background-color: #fff;

    .header-logo__link img {
        content: url('/img/tetote-logo-black.png');
    }

    .header-hamburger-icon span {
        background-color: #222222;
    }

    .header-hamburger-item {
        color: #222222;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.header-button {
    display: block;
    margin-right: 1.25rem;
    padding: 0.875rem 3.5rem;
    transition: all 0.3s ease 0s;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;

    &-entry {
        background-color: #AFA86F;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: #222;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &-recruit {
        background-color: #222222;
        color: #fff;

        @media screen and (max-width: 768px) {
            display: none;
        }

        &:hover {
            background-color: #988C2C;
            color: #222222;
        }
    }
}


.sub-header-hamburger {
    margin-left: 1.25rem;
    transition: all 0.3s ease 0s;

    &:hover {
        opacity: .7;
    }

    @media screen and (max-width: 768px) {
        margin-top: 0.5rem;
        margin-left: 0;
    }
}

.sub-header-hamburger-icon span {
    display: block;
    transition: all .3s;
    top: 12px;
    left: 25%;
    width: 52px;
    height: 2px;
    background-color: #222;
    margin: 0 auto;
}

.sub-header-hamburger-icon span:nth-of-type(2) {
    margin-top: 12px;
}

.sub-header-hamburger-icon span:nth-of-type(3) {
    margin-top: 12px;
}

.sub-header-hamburger-item {
    text-align: center;
    margin: 9px 0 0 0;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 400;
    color: #222;
}

/* .header-hamburgerクラスがactiveの時のコード*/
.sub-header-hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 12px);
}

.sub-header-hamburger.active span:nth-child(2) {
    opacity: 0;
}

.sub-header-hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -12px);
}

.sub-about-us {
    width: 100%;
    margin: 0 auto;
}

.sub-mv {
    height: 455px;
    margin-top: 118px;
    background-image: url(/img/about-fv.jpg);
    background-position: bottom;
    object-fit: contain;
    @media screen and (max-width: 768px) {
        margin-top: 90px;
    }
}

.sub-inner {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 1.3%;

    &-mv {
        padding-top: 4%;
    }

    @media screen and (max-width: 1024px) {
        padding-inline: 15%;
        &-mv {
            padding-top: 20%;
        }
    }
    @media screen and (max-width: 768px) {
        padding-inline: 2%;

        &-mv {
            padding-top: 35%;
        }
    }
}
.is-small {
    background-color: #f0f0f0;
}
.c-breadcrumbs {
    display: flex;
    font-weight: 400;
    height: 54px;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 24px;

    @media screen and (max-width: 768px) {
        padding-left: 5%;
        height: 40px;
    }
}

.c-breadcrumbs span {
    &::before {
        content: ">";
        margin: 0 6px;
    }
}

.sub-title {
    font-size: 2rem;
    line-height: 1;
    @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
    }

    &-us {
        margin-top: 66px;
        text-align: center;
        @media screen and (max-width: 1024px) {
            margin-top: 40px;
        }
    }

    &-message {
        margin-top: 125px;
        text-align: center;
    }

    &-consul {
        margin-top: 111px;
    }

    &-company {
        margin-top: 153px;
        @media screen and (max-width: 1024px) {
            margin-top: 52px;
        }
    }
}

.sub-mv-title {
    background-color: #fff;
    font-size: 4rem;
    padding: 3px 10px;
    font-family: "Viga";
    line-height: 1;
    inline-size: fit-content;
}

.sub-mv-item {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 3px 10px;
    font-family: "Viga";
    line-height: 1;
    inline-size: fit-content;
    margin-top: 18px;
}

.sub-mv-part {
    background-color: #fff;
    font-size: 1rem;
    padding: 7px 10px;
    font-family: "Viga";
    line-height: 1;
    color: #988C2C;
    inline-size: fit-content;
    margin-top: 18px;
}

// --------------------------------------------

.sub-aboutus-box {
    margin-top: 35px;

    &:nth-child(1) {
        margin-top: 86px;
    }

    background-color: #FAF7F1;
}

.sub-aboutus-list {
    padding-inline: 80px;
    @media screen and (max-width: 1024px) {
        padding-inline: 3%;
    }
}

.sub-aboutus-title {
    line-height: 1.5;
    font-size: 1.25rem;
    padding-top: 44px;
    position: relative;

    @media screen and (max-width: 768px) {
        font-size: 1.125rem;
        padding-top: 24px;
    }

    &::before {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid #222;
        border-radius: 50%;
        text-align: center;
        box-sizing: border-box;
        margin-right: 21px;
        color: #222;

        @media screen and (max-width: 1024px) {
            margin-right: 6px;
        }
    }

    &.title-1::before {
        content: "1";
    }

    &.title-2::before {
        content: "2";
    }

    &.title-3::before {
        content: "3";
    }

    &.title-4::before {
        content: "4";
    }
    &.title-5::before {
        content: "5";
    }

    @media screen and (max-width: 768px) {
        font-size: 1.125rem;
    }
}

.sub-aboutus-item {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 35px;
    padding-bottom: 30px;

    @media screen and (max-width: 768px) {
        padding-top: 25px;
        padding-bottom: 20px;

    }
}
.sub-aboutus-ceo {
    display: flex;
    margin-top: 109px;
    gap: 17px;

    @media screen and (max-width: 1024px) {
        display: block;
        margin:  0 auto;
    }
}
.sub-about-ceo-pic {
    max-width: 484px;
    width: 100%;
    height: 629px;
    @media screen and (max-width: 1024px) {
        width: 100%;
        max-width: 90%;
        margin: 50px auto 0;
        height: auto;
    }
}
.sub-aboutus-ceo-message {
    position: relative;
    max-width: 479px;
    width: 100%;

    &:nth-child(2) {
        padding-top: 175px;
        @media screen and (max-width: 1024px) {
            padding-top: 0px;
        }
    }
    @media screen and (max-width: 1024px) {
        position: static;
    }
}
.sub-aboutus-ceo-main {
    font-weight: 700;
    line-height: 1.5;
    font-size: 2rem;
    max-width: 448px;
    width: 100%;
    position: absolute;
    top: 0;
    left: -19%;
    margin-top: 18px;

    @media screen and (max-width: 1024px) {
        display: block;
        position: static;
        font-size: 1.5rem;
    }
}
.sub-aboutus-ceo-item {
    font-weight: 400;
    line-height: 2;
    margin-top: 31px;
    @media screen and (max-width: 1024px) {
        margin-top: 20px;
    }
}
.sub-aboutus-ceo-name {
    margin-top: 21px;
    display: block;
}

.sub-aboutus-consul-lead {
    font-weight: 400;
    line-height: 1.5;
    margin-top: 44px;
}
.sub-about-box {
    display: flex;
    gap: 47px;
    padding-top: 50px;
    padding-bottom: 49px;
    border-bottom: #AFA86F solid 1px;

    &:nth-child(1) {
        margin-top: 82px;
    }

    @media screen and (max-width: 1024px) {
        display: block;
    }
}
.sub-about-box-img {
    max-width: 457px;
    width: 100%;
    height: auto;
    object-fit: contain;
    img {
        width: 100%;
    }
    @media screen and (max-width: 1024px) {
        max-width: 716px;
        width: 100%;
    }
}

.sub-about-box-title {
    font-size: 2rem;
    color: #AFA86F;
    line-height: 1;

    @media screen and (max-width: 1024px) {
        margin-top: 40px;
        font-size: 1.25rem;
    }
}
.sub-about-box-item {
    font-size: 1.5rem;
    margin-top: 40px;
    line-height: 1.5;
    @media screen and (max-width: 1024px) {
        margin-top: 20px;
        font-size: 1.125rem;
    }
}
.sub-about-box-read {
    max-width: 425px;
    width: 100%;
    margin-top: 40px;
    line-height: 1.5;
    font-weight: 400;
    @media screen and (max-width: 1024px) {
        margin-top: 20px;
    }
}
.sub-about-list {
    display: flex;
    gap: 40px;
    border-bottom: #222222 solid 1px;
    height: 88px;
    align-items: center;

    @media screen and (max-width: 768px) {
        gap: 20px;
    }
}
.sub-about-list-sec {
    margin-top: 153px;
    @media screen and (max-width: 1024px) {
        margin-top: 52px;
    }
}
.sub-about-list-title {
    line-height: 1;
    width: 35%;
    display: block;
}
.sub-about-list-item {
    line-height: 1;
    br {
        display: none;
    }
    a {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: auto;transition: .3s;
    }
    a:hover {
        opacity: .6;
        color: #988C2C;
    }
    @media screen and (max-width: 768px) {
        line-height: 1.5;
        br {
            display: inline;
        }

    }


}
.sub-inner-about-list {
    padding-inline: 22px;
    padding-bottom: 119px;

    @media screen and (max-width: 1024px) {
        padding-inline: 13%;
    }
    @media screen and (max-width: 768px) {
        padding-inline: 2%;
    }
}
.sub-about-list-consul {
    display: block;
}
.sub-about-list-item-consul2 {
    margin-top: 6px;
}

@media screen and (min-width: 767px) {
a[href^="tel:"] { 
    pointer-events: none; 
}
}

