.sub-inner-career {
    padding-inline: 0;
    padding-left: 22px;
    padding-right: 17px;
}
.sub-mv-box-career {
    padding-top: 76px;
    margin-top: 0;
    margin-left: 0;
}

.sub-title-career {
    margin-top: 145px;
        & br {
            display: none;
        }
    @media screen and (max-width: 768px) {
        margin-top: 50px;
        font-size: 1.5rem;
        line-height: 1.5;
        & br {
            display: inline;
        }
    }
}
.career-item {
    margin-top: 113px;
    font-weight: 400;
    line-height: 1;
    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }

}
.career-img {
    margin-top: 48px;
    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}
.career-note {
    font-weight: 400;
    line-height: 1;
    margin-top: 37px;
    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}

.career-menu {
    margin-top: 89px;
    padding-bottom: 175px;
    @media screen and (max-width: 768px) {
        margin-top: 30px;
        padding-bottom: 70px;
    }
}

.career-feature {
    font-size: 1.5rem;
    background-color: #AFA86F;
    padding-left: 21px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 37px;
    border-radius: 10px;
    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}
.career-detail {
    font-weight: 400;
    line-height: 1.8;
    margin-top: 50px;
    @media screen and (max-width: 768px) {
        margin-top: 20px;
    }
}

