/*下層ページabout-usのCSS */

.sub-about-us {
    width: 100%;
    margin: 0 auto;
}
.sub-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
    }

    &-us {
        margin-top: 68px;
        text-align: center;
        @media screen and (max-width: 1024px) {
            margin-top: 40px;
        }
    }

    &-message {
        margin-top: 120px;
        text-align: center;
        @media screen and (max-width: 768px) {
            margin-top: 60px;
        }
    }

    &-consul {
        margin-top: 111px;
        @media screen and (max-width: 1024px) {
            margin-top: 100px;
        }
    }

    &-company {
        margin-top: 100px;
        @media screen and (max-width: 1024px) {
            margin-top: 50px;
        }
    }
}



/*私達が大切にしていること----------*/
.sub-about-inner {
    @media screen and (max-width: 1024px) {
        padding-inline: 17px;
    }

}

.sub-aboutus-box {
    margin-top: 30px;
    background-color: #FAF7F1;
    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}

.aboutus-box1 {
    margin-top: 82px;
}
.sub-aboutus-list {
    padding-inline: 84px;
    @media screen and (max-width: 1024px) {
        padding-inline: 60px;
    }
    @media screen and (max-width: 768px) {
        padding-inline: 15px;
    }
}
.sub-aboutus-title {
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 700;
    padding-top: 33px;
    position: relative;

    @media screen and (max-width: 768px) {
        font-size: 1rem;
        padding-top: 24px;
    }

    &::before {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 1px solid #222;
        border-radius: 50%;
        text-align: center;
        box-sizing: border-box;
        margin-right: 21px;
        color: #222;
        padding-top: 7px;
        @media screen and (max-width: 768px) {
            width: 30px;
            height: 30px;
            margin-right: 6px;
            padding-top: 0;
        }
    }
        
    
        &.title-1::before {
            content: "1";
        }

        &.title-2::before {
            content: "2";
        }

        &.title-3::before {
            content: "3";
        }

        &.title-4::before {
            content: "4";
        }
        &.title-5::before {
            content: "5";
        }

        @media screen and (max-width: 768px) {
            font-size: 1rem;
        }
}
.sub-aboutus-item {
    font-size: 1rem;
    padding-top: 21px;
    padding-bottom: 30px;
    line-height: 1.5;

    @media screen and (max-width: 768px) {
        padding-top: 25px;
        padding-bottom: 20px;
    }
}



/*ceo __________________________________ */
.sub-aboutus-ceo {
    display: flex;
    margin-top: 109px;
    gap: 17px;

    @media screen and (max-width: 1024px) {
        display: block;
        margin:  0 auto;
    }
}
.sub-aboutus-ceo-pic {
    max-width: 484px;
    width: 100%;
    height: 629px;
    @media screen and (max-width: 1024px) {
        width: 100%;
        max-width: 90%;
        margin: 50px auto 0;
        height: auto;
    }
}
.sub-aboutus-ceo-message {
    position: relative;
    max-width: 479px;
    font-weight: 700;
    width: 100%;

    &:nth-child(2) {
        padding-top: 175px;
        @media screen and (max-width: 1024px) {
            padding-top: 0px;
            padding-inline: 5%;
        }
    }
    @media screen and (max-width: 1024px) {
        position: static;
        max-width: none;
    }
}
.sub-aboutus-ceo-main {
    font-weight: 700;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 700;
    max-width: 448px;
    width: 100%;
    position: absolute;
    top: 0;
    left: -17%;
    margin-top: 18px;

    @media screen and (max-width: 1024px) {
        display: block;
        position: static;
        font-size: 22px;
    }
}
.sub-aboutus-ceo-item {
    line-height: 2;
    margin-top: 31px;
    font-weight: 400;
    @media screen and (max-width: 1024px) {
        margin-top: 20px;
    }
}
.sub-aboutus-ceo-name {
    margin-top: 21px;
    display: block;
    @media screen and (max-width: 768px) {
        width: 10em;
    }
}



/*事業紹介＿＿＿＿＿＿＿＿＿＿＿＿＿＿*/
.sub-inner-consul {
    padding-inline: 20px;
    @media screen and (max-width: 1024px) {
        padding-inline: 70px;
    }
    @media screen and (max-width: 768px) {
        padding-inline: 20px;
    }
}
.sub-about-consul-lead {
    line-height: 1.5;
    margin-top: 46px;
    font-weight: 400;
}
.sub-about-box {
    display: flex;
    gap: 47px;
    border-bottom: #AFA86F solid 1px;
    padding-top: 50px;
    padding-bottom: 50px;

    @media screen and (max-width: 1024px) {
        display: block;
        padding-top: 0;
    }
}
.about-box1 {
    margin-top: 30px;
}
.sub-about-box-img {
    max-width: 457px;
    width: 100%;
    height: 260px;
    object-fit: contain;
    img {
        width: 100%;
    }
    @media screen and (max-width: 1024px) {
        max-width: 716px;
        width: 100%;
        margin-top: 40px;
        height: 100%;
    }
}
.sub-about-box-title {
    font-size: 2rem;
    font-weight: 700;
    color: #AFA86F;
    line-height: 1;
    padding-top: 22px;

    @media screen and (max-width: 1024px) {
        font-size: 1.25rem;
    }
}
.sub-about-box-item {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    padding-top: 36px;
    max-width: 457px;
    @media screen and (max-width: 1024px) {
        font-size: 1.125rem;
        padding-top: 10px;
        max-width: none;
    }
}
.sub-about-box-read {
    max-width: 425px;
    width: 100%;
    line-height: 1.5;
    padding-top: 36px;
    font-weight: 400;
    @media screen and (max-width: 1024px) {
        margin-top: 20px;
        max-width: 700px;
        padding-top: 0;
    }
}
.solution-read ,.system-read {
    padding-top: 42px;
    @media screen and (max-width: 1024px) {
        padding-top: 0;
    }
}



/* 会社概要＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿*/
.sub-about-list {
    display: flex;
    gap: 40px;
    border-bottom: #222222 dashed 1px;
    padding-top: 36px;
    padding-bottom: 36px;
    align-items: baseline;
    &:nth-child(n+5){
        padding-bottom: 24px;
        padding-top: 34px;
    }
    &:last-child {
        padding-bottom: 35px;
    }

    @media screen and (max-width: 768px) {
        display: block;
        gap: 20px;
        dd {
            margin-top: 15px;
        }
    }
}
.sub-about-list-sec {
    margin-top: 73px;
    @media screen and (max-width: 1024px) {
        margin-top: 52px;
    }
}
.sub-about-list-title {
    line-height: 1;
    font-weight: 700;
    width: 19%;
    display: block;
    align-items: baseline;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
.sub-about-list-item {
    line-height: 1;
    br {
        display: none;
    }
    a {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: auto;transition: .3s;
    }
    a:hover {
        opacity: .6;
        color: #988C2C;
    }
    @media screen and (max-width: 768px) {
        line-height: 1.5;
        br {
            display: inline;
        }
    }
}
.sub-inner-about-list {
    padding-inline: 16px;
    padding-bottom: 140px;

    @media screen and (max-width: 1024px) {
        padding-inline: 70px;
        padding-bottom: 50px;
    }
    @media screen and (max-width: 768px) {
        padding-inline: 20px;
        padding-bottom: 50px;
    }
}
.sub-about-list-consul {
    display: block;
    padding-left: 14px;
}
.sub-about-list-item-consul2 {
    margin-top: 10px;
}

@media screen and (min-width: 767px) {
        a[href^="tel:"] { 
            pointer-events: none; 
    }
}

