/* ドロワーメニュー */
.drawer-nav {
    display: none;
}

.drawer-nav.active {
    display: block;
    position: fixed;
    top: 100px;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
    color: #000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10%;
}

.drawer-nav a {
    transition: 0.4s;
    display: block;
    height: inherit;
    align-items: center;
}

.drawer-list {
    text-align: center;
    text-decoration-skip-ink: none;
    align-items: center;
    padding-top: 32px;
}

.drawer-item {
    list-style: none;
    padding-top: 32px;   
}
