footer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-view {
    background-image: url(./img/footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 488.22px;

    @media screen and (max-width: 768px) {
        height: 250px;
    }
}

.contact-box {
    max-width: 956px;
    height: 273px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 492px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 50px;

    @media screen and (max-width: 1024px) {
        width: 91.5%;
        height: 236px;
        top: 40%;
        padding-top: 24px;
    }

    @media screen and (max-width: 768px) {
        top: 250px;
    }
}

.footer-inner {
    background-color: #FAF7F1;
    max-width: 1312px;
    height: auto;
    text-align: center;
    padding-bottom: 64px;
    border-radius: 0 0 20px 20px;
    margin-bottom: 40px;
    margin-inline: auto;

    @media screen and (max-width: 1024px) {
        height: 100%;
        margin-bottom: 0;
        padding-bottom: 24px;
    }
}

.button-viewmore-entry {
    max-width: 556px;
    width: 100%;
    font-weight: 700;
    margin: 30px auto 0 auto;
    position: relative;
    line-height: 1;

    @media screen and (max-width: 1024px) {
        width: 53%;
    }

    @media screen and (max-width: 768px) {
        width: 200px;
        margin: 25px auto 0 auto;
    }
}

.button-viewmore-entry a {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: #AFA86F;
    transition: .4s;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 23px;
        margin: auto;
        width: 10px;
        height: 10px;
        border-right: 3px solid #222222;
        border-top: 3px solid #222222;
        transform: rotate(45deg);
        transition: all 0.4s;
    }

    &:hover {
        background-color: #222;
        color: #fff;

        &::before {
            border-right: 3px solid #ffffff;
            border-top: 3px solid #ffffff;
        }
    }

    @media screen and (max-width: 1024px) {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 0.875rem;
    }
}

.footer-content-wrapper {
    margin-top: 202px;
    text-align: center;
    max-width: 956px;
    width: 100%;
    margin-inline: 200px;
    margin-left: auto;

    @media screen and (max-width: 1024px) {
        margin-top: 50px;
    }
}

.footer-links {
    display: flex;
    gap: 11%;
    text-align: left;
    flex-direction: row-reverse;

    @media screen and (max-width: 1024px) {
        display: block;
        margin-top: 170px;
    }
}

.footer-logo {
    max-width: 250px;
    width: 100%;
    transition: .4s;

    &:hover {
        opacity: .7;
    }

    @media screen and (max-width: 1024px) {
        margin: 108px auto 0 auto;
    }
}

.footer-list {
    margin-top: 15px;
    margin-right: 10px;
}

.footer-list a {
    padding-left: 20px;
    line-height: 1;
    transition: .3s;
    font-weight: 700;

    &:hover {
        opacity: .7;
    }

    &:nth-child(1) {
        padding-left: 0;
    }

    @media screen and (max-width: 1024px) {
        display: block;
        margin-top: 20px;
        text-align: center;
        padding-left: 0;
    }
}

.footer-list2 {
    margin-top: 27px;

    @media screen and (max-width: 1024px) {
        margin-top: 0;
    }
}

.footer-nav {
    display: flex;
    gap: 15px;
    justify-content: end;
    margin-right: 13.5%;
    margin-top: 45px;

    a {
        transition: .3s;

        &:hover {
            opacity: .7;
        }
    }

    @media screen and (max-width: 1024px) {
        margin: 0;
        justify-content: center;
        position: absolute;
        bottom: 173px;
        right: 50%;
        transform: translate(50%, 0);
    }
}

.copyright {
    text-align: left;
    display: block;
    margin-left: 180px;
    line-height: 1;
    font-size: 12px;
    margin-top: -10px;
    font-family: "Viga";

    @media screen and (max-width: 1024px) {
        text-align: center;
        margin-top: 49px;
        margin-inline: auto;
    }
}

.footer-contact-item {
    font-weight: 700;
    line-height: 1.5;

    @media screen and (max-width: 1024px) {
        font-size: 0.875rem;
        line-height: 2.5;
    }
}