.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 118px;

    &.drawer-open {
        background-color: #fff;
    }

    &.is-subpage {
        background-color: #fff;
    }

    @media screen and (max-width: 768px) {
        height: 60px;
    }
}

.header-inner {
    padding-inline: 1.81%;
    height: inherit;
    width: 100%;

    @media screen and (max-width: 768px) {
        height: 0;
    }

}

.header-logo {
    width: 100%;
    max-width: 250px;
    transition: .3s;

    &link {
        padding: 3.7rem 0 1.75rem 0;

        @media screen and (max-width: 768px) {
            padding: 0;
        }
    }

    &:hover {
        opacity: .7;
    }

    @media screen and (max-width: 768px) {
        max-width: 150px;
        margin-left: 4px;
        margin-top: 50px;
    }
}

.header-link {
    display: flex;
    align-items: center;
    gap: 17px;
}

.header--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
    animation: slideDown 0.4s ease-in-out;
    background-color: #fff;

    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0%);
        }
    }

    .header-hamburger-icon span {
        background-color: #222222;
    }

    .header-hamburger-item {
        color: #222222;
    }

}

.header-nav {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}


.header-button {
    display: block;
    padding: 0.875rem 3.5rem;
    transition: all 0.3s ease 0s;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    font-size: 14px;

    &-entry {
        background-color: #AFA86F;
        color: #fff;
        padding: 0.875rem 4rem;

        &:hover {
            background-color: #988C2C;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &-recruit {
        background-color: #222222;
        color: #fff;

        @media screen and (max-width: 768px) {
            display: none;
        }

        &:hover {
            background-color: #988C2C;
            color: #222222;
        }
    }
}


.header-hamburger {
    transition: all 0.3s ease 0s;
    margin-right: 7px;

    &:hover {
        opacity: .7;
    }

    @media screen and (max-width: 768px) {
        margin-top: 47px;
        margin-right: -2px;
    }
}

.header-hamburger span {
    display: block;
    transition: all .3s;
    top: 12px;
    left: 25%;
    width: 52px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        top: 12px;
        left: 25%;
        width: 32px;
        height: 2px;
    }

}

.sub-hamburger span {
    display: block;
    transition: all .3s;
    top: 12px;
    left: 25%;
    width: 52px;
    height: 2px;
    background-color: #222;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        top: 12px;
        left: 25%;
        width: 32px;
    }

}

.header-hamburger span:nth-of-type(2) {
    margin-top: 12px;

    @media screen and (max-width: 768px) {
        margin-top: 7px;
    }
}

.header-hamburger span:nth-of-type(3) {
    margin-top: 12px;

    @media screen and (max-width: 768px) {
        margin-top: 7px;
    }
}

.header-hamburger-item {
    text-align: center;
    margin: 9px 0 0 0;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 400;
    color: #fff;

    @media screen and (max-width: 768px) {
        font-size: 0.65rem;
        margin-top: 4px;
    }
}


.sub-header-hamburger-item {
    text-align: center;
    margin: 9px 0 0 0;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 400;
    color: #222;
}

/* .header-hamburgerクラスがactiveの時のコード*/
.header-hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 12px);
    background-color: #222;

    @media screen and (max-width: 768px) {
        transform: rotate(45deg) translate(1px, 5px);
    }
}

.header-hamburger.active span:nth-child(2) {
    opacity: 0;
}

.header-hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -12px);
    background-color: #222;
}

.header-hamburger.active .header-hamburger-item {
    display: none;
}


.logo {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.logo.hidden {
    display: none;
}



.sub-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 118px;
    background-color: #fff;

    &.drawer-open {
        background-color: #fff;
    }

    @media screen and (max-width: 768px) {
        height: 60px;
    }
}

.sub-header-logo {
    width: 100%;
    max-width: 250px;
    transition: .3s;

    &-link {
        padding: 3.7rem 0 1.75rem 0;

        @media screen and (max-width: 768px) {
            padding: 0;
        }
    }

    &:hover {
        opacity: .7;
    }

    @media screen and (max-width: 768px) {
        margin-left: 0;
    }
}

.header-link {
    display: flex;
    align-items: center;
}

.header--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    visibility: visible;
    animation: slideDown 0.3s ease-in-out;
    background-color: #fff;

    .header-hamburger-icon span {
        background-color: #222222;
    }

    .header-hamburger-item {
        color: #222222;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    height: inherit;
    align-items: center;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.header-button {
    display: block;
    margin-right: 33px;
    padding: 14px 34px 14px 34px;
    transition: all 0.3s ease 0s;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    font-size: 14px;

    &-entry {
        padding: 14px 42px 14px 42px;
        background-color: #AFA86F;
        color: #fff;

        &:hover {
            background-color: #988C2C;
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &-recruit {
        background-color: #222222;
        color: #fff;
        margin-right: 9px;

        @media screen and (max-width: 768px) {
            display: none;
        }

        &:hover {
            background-color: #ffffff;
            color: #222222;
            border: #222 1px solid;
        }
    }
}

/* サブページのヘッダー */
.sub-header-hamburger {
    margin-left: 1.25rem;
    transition: all 0.3s ease 0s;

    &:hover {
        opacity: .7;
    }

    @media screen and (max-width: 768px) {
        margin-top: 0.5rem;
        margin-left: 0;
    }
}

.sub-header-hamburger-icon span {
    display: block;
    transition: all .3s;
    top: 12px;
    left: 25%;
    width: 52px;
    height: 2px;
    background-color: #222;
    margin: 0 auto;
}

.sub-header-hamburger-icon span:nth-of-type(2) {
    margin-top: 12px;
}

.sub-header-hamburger-icon span:nth-of-type(3) {
    margin-top: 12px;
}

.sub-header-hamburger-item {
    text-align: center;
    margin: 9px 0 0 0;
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 400;
    color: #222;
}

/* .header-hamburgerクラスがactiveの時のコード*/
.sub-header-hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 12px);
}

.sub-header-hamburger.active span:nth-child(2) {
    opacity: 0;
}

.sub-header-hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -12px);
}