.infinity-slider {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.infinity-slider .slider1 {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infinity-slider .swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.swiper-container {
    position: relative;
}

.slider-heading {
    max-width: 600px;
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-left: 18px;
    left: 50%;
    transform: translate(-49%, -97%);

    @media screen and (max-width: 1024px) {
        max-width: 335px;
        width: 100%;
        display: block;
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translate(-55%, -120%);

    }
}

.slider-heading-ms {
    background-color: #fff;
    color: #222;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.8;
    margin-top: -24px;
    inline-size: fit-content;
    text-align: center;
    padding-left: 20px;

    @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
        max-width: 350px;
        margin-top: -13px;
        padding-left: 10px;
    }
}

.slider-heading-ms2 {
    margin-left: 26px;
    padding-right: 12px;
    padding-left: 12px;

    @media screen and (max-width: 1024px) {
        margin-left: 6px;
    }
}

.slider1 .swiper-slide:nth-child(even) {
    padding-top: 36px;
}

.swiper-slide img {
    height: auto;
    width: 100%;
}

/* スライドの動き等速 */
.swiper-wrapper {
    transition-timing-function: linear;
}