.slider-heading {
    max-width: 600px;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    margin-left: 18px;
    bottom: -16%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1024px) {
        max-width: 335px;
        width: 100%;
        display: block;
        position: absolute;
        z-index: 2;
        bottom: -46px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.slider-heading-ms {
    background-color: #fff;
    color: #222;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.8;
    margin-top: -24px;
    inline-size: fit-content;
    text-align: center;
    padding-left: 20px;

    @media screen and (max-width: 1024px) {
        font-size: 1.5rem;
        max-width: 350px;
        margin-top: -13px;
        padding-left: 10px;
    }
}

.slider-heading-ms2 {
    margin-left: 26px;
    padding-right: 12px;
    padding-left: 12px;

    @media screen and (max-width: 1024px) {
        margin-left: 6px;
    }
}

.infinity-slider { 
    overflow: hidden;
    background-color: #fff;
    position: relative;
    @media screen and (max-width: 768px) {
        padding-top: 41px;
        padding-bottom: 0;
    } 
}

.swiper-slide {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    transition-timing-function: linear !important;

    img {
        display: block;
        height: auto;
    }
}

.swiper-slide:nth-child(even) {
    padding-top: 35px;

    @media screen and (max-width: 768px) {
        padding-top: 30px;
    }
}

.swiper-slide.alt {
    padding-top: 36px;
}
