.slider-heading {
    max-width: 560px;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 91.5%;
    left: 49.59%;
    transform: translate(-50%, -50%);
    
    @media screen and (max-width: 768px) {
        max-width: 335px;
        width: 100%; 
        display: block;
        position: absolute;
        z-index: 2;
        text-align: center;
        bottom: -214px;
        left: 50%;
        transform: translate(-50%, -50%);
    }  
} 
.slider-heading-ms {
    background-color: #fff;
    color: #222;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.8;
    margin-top: -27px;

    @media screen and (max-width: 768px) {
        font-size: 1.5rem;
        max-width: 335px;
        margin-top: -13px;
    }  
}

.slider {
    width: 100%;
    padding-top: 46px;
    padding-bottom: 80px;
    background-color: #fff;
    position: relative;

    @media screen and (max-width: 768px) {
        padding-top: 41px;
        padding-bottom: 0;
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 506px;

    img {
        width: 100%;
        display: block;
    }

}

.swiper-slide:nth-child(even) {
    padding-top: 35px;
    @media screen and (max-width: 768px) {
        padding-top: 30px;
    }
    
}

.swiper-slide.alt {
    padding-top: 36px;
}
.swiper-wrapper {
    display: flex;
    transition-timing-function: linear !important;
}
.swiper {
    background-color: #fff;
}

