* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.875;
}

body {
    font-family: "Noto Sans JP", "Viga", "Poppins";
    font-size: 1rem;
    line-height: 1;
    color: #222222;
    font-weight: 700;
    background-color: #fff;

}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.875rem;
    }
}


h2 {
    font-family: "Noto Sans JP", "Viga";
    font-size: 52px;
}

img {
    max-width: 100%;
    height: auto;
}

.inner {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

.is-small {
    background-color: #f0f0f0;
}
.c-breadcrumbs {
    display: flex;
    font-weight: 400;
    height: 54px;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 24px;
    font-size: 14px;
    @media screen and (max-width: 1024px) {
        padding-left: 15%;
    }

    @media screen and (max-width: 768px) {
        padding-left: 5%;
        height: 40px;
    }
}

.c-breadcrumbs span {
    &::before {
    //     content: "";
    //     margin: 0 6px;
    // }
    content: none;
    }
}